extends layout
include mixins/post
include mixins/validation

block content
  if errors
    +errors(errors)
  if user 
    div(class="main-content")
      h3 Welcome #{user.username}
      div(class="user-buttons")
        a(href="/new-post")
          button(class="new-post") New
        a(href="/log-out")
          button(class="logout") Logout
        a(href=user.url)
          button(class="profile") Profile
      div(class="members-only-posts")
        if posts 
          each post in posts
            +post(post)
  else
    div(class="sign-up-container")
        div(class="sign-up")
            h3(class="title") Login to your account
            form(action="/log-in" method="POST")
                label(for="username") Username 
                input(type="text" name="username" placeholder="Username")
                label(for="password") Password 
                input(type="password" name="password" placeholder="Password")
                button(class="raise") Login
                p(class="new-user") New user? 
                  a(href="/sign-up") Sign up here
