extends layout
include mixins/validation

block content
    if errors
        +errors(errors)
    div(class="sign-up-container")
        div(class="sign-up")
            h3(class="title") Create your account
            form(action="" method="POST")
                label(for="email") Email
                input(type="email" name="email" placeholder="your@email.com") 
                label(for="username") Username 
                input(type="text" name="username" placeholder="Username")
                label(for="password") Password 
                input(type="password" name="password" placeholder="Password")
                label(for="password-confirm") Confirm Password 
                input(type="password" name="password_confirm" placeholder="Confirm Password") 
                button Sign up
                p(class="new-user") Already have an Account? 
                  a(href="/") Sign in here