:root {
  --dark-bg: #1d3557;
  --light-bg: #457b9d;
  --highlight: #a8dadc;
  --bright: #f1faee;
  --contrast: #e63946;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: blue;
}

body {
  height: 90%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(29, 53, 87);
  background: linear-gradient(
    165deg,
    rgba(29, 53, 87, 1) 0%,
    rgba(69, 123, 157, 1) 35%,
    rgba(168, 218, 220, 1) 100%
  );
}

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 99vw;
  font-family: "Montserrat", sans-serif;
}

.sign-up {
  width: 500px;
  height: 400px;
  background-color: var(--bright);
  border: 1px solid #ccc;
  box-shadow: 10px 10px 20px black;
}

.title {
  padding-top: 1em;
  margin: 0 0 10px;
  background: var(--dark-bg);
  color: var(--highlight);
  height: 50px;
  padding-left: 20px;
}

.sign-up > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  padding-top: 10px;
}

.sign-up > form > label {
  margin-left: 20px;
}

.sign-up > form > input {
  margin: 0 0 10px;
  outline: none;
  border: 1px solid #ccc;
  width: 90%;
  margin-left: 20px;
  height: 30px;
  font-size: 1.2rem;
}

button {
  border: 1px solid black;
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: var(--light-bg);
  transition: all 0.5s;
  border-radius: 10px;
  margin-bottom: 1.5em;
  color: white;
  font-size: large;
}

button:hover {
  cursor: pointer;
  background-color: green;
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.5em);
}

.new-user {
  font-size: 0.8rem;
  margin-left: 20px;
  color: black;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 99vw;
  font-family: "Montserrat", sans-serif;
}

.members-only-posts {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border: 2px solid black;
}

.members-only-posts::-webkit-scrollbar {
  display: none;
}

.main-content > h3 {
  text-transform: capitalize;
}

.post-container {
  font-family: "Montserrat", sans-serif;
  background-color: var(--light-bg);
  width: 800px;
  display: flex;
  flex-direction: column;
}

.post-container > *:not(:first-child) {
  padding: 0 20px 0 20px;
}

.post-author {
  text-transform: capitalize;
}

.post-author > a {
  color: var(--highlight);
}

.post-author > a:hover {
  text-decoration: underline;
}

.post-date {
  color: #ccc;
  font-size: 0.8rem;
  line-height: 0;
}

.post-body {
  color: var(--highlight);
  font-size: clamp(1rem, 1.1rem, 1.2rem);
}

.user-buttons {
  display: flex;
  gap: 10px;
}

.post-avatar {
  max-width: 64px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.post-user-data {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logout:hover {
  background-color: var(--contrast);
}

.update-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  padding-top: 10px;
}

.update-form-container > form > label {
  margin-left: 20px;
}

.update-form-container > form > input {
  margin: 0 0 10px;
  outline: none;
  border: 1px solid #ccc;
  width: 90%;
  margin-left: 20px;
  height: 30px;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.new-post-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  padding-top: 5px;
}

.new-post-container > form > label {
  margin-left: 20px;
}

.new-post-container > form > input {
  margin: 0 0 10px;
  outline: none;
  border: 1px solid #ccc;
  width: 90%;
  margin-left: 20px;
  height: 30px;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.new-post-container > form > textarea {
  margin: 0 20px;
}

.new-post-container {
  width: 500px;
  height: 400px;
  background-color: var(--bright);
  border: 1px solid #ccc;
  box-shadow: 10px 10px 20px black;
}
